@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Ensure the navbar is always on top */
.navbar {
  top: 0;
  left: 0;
  z-index: 9999; /* High z-index value to keep it on top */
}

/* Ensure the dropdown has a higher z-index as well */
.menu.menu-sm.dropdown-content {
  z-index: 10000; /* Higher than the other content */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.homepage-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensures full width */
  padding: 0 20px; /* Added left and right margin */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; /* Adjust the width to 70% to leave space for the news carousel */
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Rounded corners for the video */
}

.homepage-wrapper {
  padding: 12px 45px;
}

.homepage-container {
  display: flex;
  flex-wrap: wrap; /* Flex wrapping for responsiveness */
}

.background-news-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.background-section {
  position: relative;
  width: 60%;
  margin-top: 30px;
  height: 900px;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  text-align: right;
}

.news-events-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* News and Events shared styles */
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.news-item,
.events-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 380px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.news-image,
.events-image {
  width: 100%;
  height: 265px;
  object-fit: cover;
  border-top-left-radius: 10px; /* Top left corner */
  border-top-right-radius: 10px; /* Top right corner */
}

.news-image:hover,
.events-image:hover {
  transform: scale(1.01); /* Scale down on hover */
  filter: brightness(0.8); /* Dim the image */
}

.news-content,
.events-content {
  padding: 10px;
}

.read-more-link {
  color: #be142e;
  text-decoration: none;
}

.read-more-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  padding: 10px;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Adjust styles for the news and events titles */
.news-title,
.events-title {
  font-family: "Arial", sans-serif; /* Change to your desired font */
  font-size: 24px; /* Change to your desired font size */
  font-weight: bold; /* Change weight as needed */
  margin: 20px 0; /* Add margin for spacing */
}

/* Underline effect on hover */
.news-title:hover,
.events-title:hover {
  color: #be142e;
}

.carousel-news-title,
.carousel-events-title {
  font-family: "Arial", sans-serif; /* Change to your desired font */
  font-size: 18px; /* Change to your desired font size */
  font-weight: bold; /* Change weight as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .background-news-container {
    flex-direction: column; /* Stack video and carousels */
  }

  .background-section {
    width: 100%;
    height: 500px; /* Adjust height for smaller screens */
  }

  .news-events-section {
    width: 100%; /* Stack news and events full-width */
    margin-top: 5px;
  }
}

.carousel-card {
  max-width: 100%; /* Ensure cards do not exceed container width */
}

.news-title,
.events-title {
  max-width: 100%; /* Limit title width */
  overflow: hidden; /* Prevent overflow */
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.carousel-news-title,
.carousel-events-title {
  max-width: 95%; /* Limit title width */
  overflow: hidden; /* Prevent overflow */
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.news-description,
.events-description {
  max-width: 95%; /* Limit description width */
  overflow: hidden; /* Prevent overflow */
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

/* Carousel Styling for Sliding Effect */
.carousel-news {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical overflow */
  scroll-padding: 0; /* Remove side padding */
  scroll-behavior: smooth; /* Smooth sliding effect */
  width: 100%; /* Ensure it takes the full width */
  flex-wrap: nowrap; /* Prevent wrapping of items */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.carousel-news::-webkit-scrollbar,
.carousel-events::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Webkit-based browsers */
}

.carousel-news .item {
  flex: 0 0 auto; /* Prevent items from shrinking or growing */
  scroll-snap-align: start;
  width: 100%; /* Full width to ensure only one card is shown */
  transition: transform 0.3s ease-in-out;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 380px; /* Maintain a consistent height */

  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  margin: 0; /* No margin between items since only one will be displayed */
}

.carousel-events {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical overflow */
  scroll-padding: 0; /* Remove side padding */
  scroll-behavior: smooth; /* Smooth sliding effect */
  width: 100%; /* Ensure it takes the full width */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.carousel-events .item {
  flex: none; /* Prevent items from shrinking */
  scroll-snap-align: start;
  width: 100%; /* Full width to ensure only one card is shown */
  transition: transform 0.3s ease-in-out;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 380px; /* Maintain a consistent height */

  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  margin: 0; /* No margin between items since only one will be displayed */
}

/* Spacing Variable */
:root {
  --section-spacing: 30px; /* Variable for uniform spa
cing */
}

/* Carousel Styles */
.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--section-spacing) 0; /* Using variable for spacing */
  padding: 40px 0;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Added shadow */
  border-radius: 10px; /* Optional: Adds rounded corners */
}

.carousel-content {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-content.fade {
  opacity: 0;
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  padding: 10px;
}

/* Square Item Styles */
.square-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}

.square-item {
  width: 200px; /* Fixed width for uniform size */
  height: 200px; /* Fixed height for uniform size */
  margin: 20px; /* Increased margin for spacing */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.square-item:hover {
  transform: scale(1.05);
}

.square-item .logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.logo {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.userprofile-logo {
  background-image: url("/src/assets/userprofile.png");
}
.survey-logo {
  background-image: url("/src/assets/survey.png");
}
.threads-logo {
  background-image: url("/src/assets/threads.png");
}
.alumni-logo {
  background-image: url("/src/assets/alumni.png");
}
.chatbot-logo {
  background-image: url("/src/assets/chatbot.png");
}
.companies-logo {
  background-image: url("/src/assets/companies.png");
}
.newsevents-logo {
  background-image: url("/src/assets/newsevents.png");
}
.certifications-logo {
  background-image: url("/src/assets/certifications.png");
}
.documents-logo {
  background-image: url("/src/assets/documents.png");
}
.jobs-logo {
  background-image: url("/src/assets/jobs.png");
}
.reports-logo {
  background-image: url("/src/assets/reports.png");
}

.square-item h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.square-item button {
  padding: 5px 10px;
  background-color: #be142e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.square-item button:hover {
  background-color: #232323;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: transparent; /* Transparent background */
  color: #333; /* Dark text */
  padding: 8px 12px; /* Padding */
  font-size: 16px; /* Font size */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Slightly rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.dropdown-button:hover {
  background-color: #4caf50; /* Green background on hover */
  color: white; /* Change text color to white on hover */
}

.dropdown-content {
  display: none; /* Hide by default */
  position: absolute; /* Position below the button */
  background-color: white; /* White background */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Rounded corners */
  min-width: 160px; /* Minimum width */
  z-index: 1; /* Above other content */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.dropdown:hover .dropdown-content {
  display: block; /* Show on hover */
}

.dropdown-content button {
  color: #333; /* Dark text */
  padding: 10px; /* Padding */
  text-decoration: none; /* No underline */
  display: block; /* Full width */
  width: 100%; /* Full width */
  border: none; /* No border */
  text-align: left; /* Align text to the left */
  background: none; /* No background */
  transition: background-color 0.3s; /* Smooth transition */
}

.dropdown-content button:hover {
  background-color: #f0f0f0; /* Light gray on hover */
}

/* For desktop version: Buttons stacked on top of each other */
.buttons-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: center; /* Align buttons vertically in the center */
  gap: 5px; /* Space between buttons */
}

.news-button,
.events-button {
  width: 100%; /* Make buttons take up full width of the container */
  padding: 10px;
  font-size: 16px; /* Adjust as needed */
  cursor: pointer;
  text-align: center;
  line-height: 1.2; /* Optional: Adjust line height for tighter text spacing */
}

/* For mobile version: Stack buttons vertically with space around and consistent button width */
@media (max-width: 768px) {
  .buttons-container {
    flex-direction: column; /* Stack buttons vertically */
    gap: 1px; /* Space between buttons */
    width: 100%; /* Make container full width */
  }

  .news-button,
  .events-button {
    width: 80%; /* Make buttons take up most of the width, but leave space on the sides */
    max-width: 150px; /* Set a max width to prevent buttons from getting too large on wider screens like iPhone XR */
    padding: 15px; /* Optional: Make padding larger for a better visual appearance */
    font-size: 16px; /* Optional: Adjust font size for better readability */
    margin: 0 auto; /* Center the buttons */
    margin-bottom: 10px; /* Add bottom margin for space between button and square container */
  }
}

/* Mission & Vision Section */
.mission-vision-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: var(--section-spacing) 0; /* Keep the top margin */
  margin-bottom: 80px; /* Increase the bottom margin for more space */
  height: 400px; /* Fixed height for consistency */
  gap: 20px;
}

.mission-vision-content {
  flex: 0 0 40%; /* 30% width for mission/vision */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100%; /* Fill height of parent */
}

.image-carousel-container {
  position: relative;
  width: 100%; /* Set width to 100% to fill the container */
  max-width: none; /* Remove max-width to allow full width */
  margin: 0; /* Remove auto margin to align with the rest of the layout */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Keep shadow */
}

.carousel-images {
  position: relative;
  width: 100%;
  height: 400px; /* Set the desired height */
  overflow: hidden; /* Ensure images don't overflow */
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Hide all images by default */
}

.carousel-image.active {
  opacity: 1;
}

.carousel-images {
  position: relative;
  width: 100%;
  height: 400px; /* Set the desired height */
  overflow: hidden; /* Ensure images don't overflow */
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Hide all images by default */
}

.carousel-image.active {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 8px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: rgba(255, 255, 255, 1);
}

.indicator:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Text Styles */
.mission-title,
.vision-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #2c3e50; /* Darker tone for elegance */
  letter-spacing: 1.5px; /* Slight letter spacing for a premium look */
}

.mission-text,
.vision-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #34495e; /* Softer tone to contrast with the title */
  margin-bottom: 25px;
  letter-spacing: 0.5px; /* Subtle letter spacing */
  transition: color 0.3s ease-in-out;
}

.mission-text:hover,
.vision-text:hover {
  color: #e74c3c; /* Slight color change on hover for interactivity */
}

/* Footer */
.footer {
  margin-top: var(--section-spacing); /* Using variable for spacing */
  padding: 20px;
  background-color: #2c3e50; /* Example footer background */
  color: white;
  text-align: center;
}

@media (max-width: 1230px) {
  .mission-vision-section {
    flex-direction: column; /* Stack vertically on smaller screens */
    height: auto; /* Allow height to adjust */
    width: 100%;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .homepage-container {
    padding: 0 10px; /* Reduced padding on smaller screens */
  }

  .background-section {
    border-radius: 5px; /* Less rounding for smaller screens */
  }

  .mission-vision-content,
  .image-carousel-container {
    flex: 0 0 100%; /* Full width on smaller screens */
  }

  .square-item {
    width: 100%; /* Full width for squares on smaller 
screens */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }

  .carousel-button {
    font-size: 1.5rem; /* Smaller button size */
  }

  .carousel-container {
    padding: 20px 0; /* Adjust padding for smaller screens */
  }

  .mission-vision-section {
    flex-direction: column; /* Stack vertically on smaller screens */
    height: auto; /* Allow height to adjust */
  }

  .mission-vision-content {
    margin-bottom: var(--section-spacing); /* Add bottom margin */
  }
}
@media print {
  @page {
    size: A3; /* You can change this to 'letter' or other sizes */
    margin: 10mm 5mm 5mm 5mm !important;
  }
  /* Hide the export button when printing */
  .no-print {
    display: none;
  }

  /* Hide the header when printing */
  .header {
    display: none;
  }

  /* Hide the footer if you have one */
  .footer {
    display: none;
  }

  /* Adjust chart height for printing */
  .chart {
    height: auto; /* Adjust height to fit printed page */
    width: 100%;
  }
  .chart-container {
    page-break-inside: avoid; /* Avoid page breaks within charts */
  }
  /* Expand modal to fill page */
  .print-modal {
    position: static;
    background: white;
    overflow: visible;
  }
  /* Ensure modal content takes full page width for print */
  .print-content {
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: visible;
  }
}
.background-news-container {
  display: flex; /* Aligns children (video and news carousel) in a row */
  width: 100%;
}

/* Fading effect for the news and events carousels */
.carousel-container .fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-container .carousel-content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Carousel buttons */
.carousel-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.carousel-button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.rpv-core__text-layer {
  display: none !important;
}
